<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <title>Pizza</title>
        <link rel="icon" href="https://image.similarpng.com/very-thumbnail/2020/05/Pizza-logo-design-template-Vector-PNG.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link href="gks.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-1">
                <h1 class="gk1">PizzaShop</h1>
            </div>
        </nav>
        <div style="width: 50%; display: inline-flex; margin-top: 150px;">
            <img src="https://www.iconpacks.net/icons/2/free-add-to-cart-icon-3046-thumb.png" width="80px" height="80px" style="margin-left: 50px; padding: 10px; align-items: center;">
            <h1 style="display: flex; width: 100%; align-items: center;"><b>Today's Order</b></h1>
        </div>
        <div style="display: flex; padding-left: 100px;">
                <div style="padding-left: 10px;">
                    <h2>Order ID</h2>
                    <ol>
                        <% addlist1.forEach(function(elements){ %>
                            <li> <%=elements%></li>
                        <% }) %>
                    </ol>
                </div>
                <% const a = []; %>
                <div style="padding-left: 100px;">
                    <h2>Name</h2>
                    <% addlist2.forEach(function(elements){ %>
                         <p><%=elements%></p>
                    <% }) %>
                </div>
                <div style="padding-left: 100px;">
                    <h2>Size</h2>
                    <% addlist3.forEach(function(elements){ %>
                        <p><%=elements%></p>
                    <% }) %>
                </div>
                <div style="padding-left: 100px;">
                    <h2>Address</h2>
                    <% addlist4.forEach(function(elements){ %>
                        <p><%=elements%></p>
                    <% }) %>
                </div>
                <div style="padding-left: 100px;">
                    <h2>Email</h2>
                    <% addlist5.forEach(function(elements){ %>
                        <p><%=elements%></p>
                         <% a.push(elements); %>
                    <% }) %>
                </div>
                <div style="padding-left: 100px;">
                    <h2>Status</h2>
                    <% var i = 0; %>
                        <% addlist1.forEach(function(elements){ %>
                            <form action="/checkstatus" method="post" style="display: flex;">
                            <input type="hidden" name="ids" value= <%=elements%>>
                            <input type="hidden" name="email" value=<%-a[i]-%>>
                            <select style="padding: 2.5px;" name="cars">
                                <option value="Status" >Status</option>
                                <option value="Order Placed" >Order Placed</option>
                                <option value = "Order confirmation">Order confirmation</option>
                                <option value="Preparation">Preparation</option>
                                <option value="Out for Delivery">Out for Delivery</option>
                                <option value="Complete">Complete</option>
                            </select>
                            <button type="submit">Submit</button>
                            </form>
                            <% i++; %>
                        <% }) %>
                </div>
        </div>
        <div class="footer" style="top: 40vh;">
            <div style="display: block; justify-content: center; align-items: center;">
                    <h1 style = "font-size: 1.5rem; font-weight:bolder; color: gb(45, 45, 58); margin-bottom: 0px; margin-left: 20%;"><b>PizzaShop</b></h1>
                <p style="display: flex; justify-content: center; font-weight: 600; color:rgb(49, 49, 50); font-size:0.8rem">....Made By Gautam Kumawat....</p>
            </div>
        </div>
    </body>
</html>